.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  padding: 45px 35px;
  max-width: 700px;
}

.iconContainer {
  padding-top: 15px;
  margin-right: var(--gap-md);
}

.iconContainer img {
  width: 50px;
}

.btnGroup {
  margin-top: var(--gap-md);
}

button + button {
  margin-left: var(--gap-sm);
}

.margin {
  margin-bottom: var(--gap-md);
}

.closeBtn {
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
}

.closeBtn svg {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-gray);
}
