.header {
  height: 80px;
  background-color: var(--color-header);

  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li + li {
  margin-left: var(--gap-md);
}

nav ul li a {
  color: var(--color-white);
  font-size: 16px;
}
