.header {
  height: 8rem;
  background-color: var(--color-header);

  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li + li {
  margin-left: var(--gap-md);
}

nav ul li a {
  color: var(--color-white);
  font-size: 1.6rem;
}

@media all and (max-width: 35.9875em) {
  .header {
    height: auto;
    padding: 1rem 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li + li {
    margin-left: 0;
    margin-top: var(--gap-md);
  }
}
