.pageTitle {
  margin: var(--gap-lg) auto;
  padding-bottom: var(--gap-lg);
  border-bottom: 1px solid lightgray;
  display: flex;
  width: 70%;
  max-width: 1050px;
}

.pageTitle h2 {
  margin-left: var(--gap-sm);
}

.container {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 45px 100px;
  width: 70%;
  max-width: 1050px;
  margin: var(--gap-lg) auto;
}

.container header {
  text-align: center;
  margin-bottom: var(--gap-md);
}
