.pageTitle {
  margin: var(--gap-lg) auto;
  padding-bottom: var(--gap-lg);
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 105rem;
}

.pageTitle h2 {
  margin-left: var(--gap-sm);
}

.container {
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: clamp(2rem, 3rem, 4.5rem) clamp(3.5rem, 6rem, 10rem);
  width: 70%;
  max-width: 105rem;
  margin: var(--gap-lg) auto;
}

.container header {
  text-align: center;
  margin-bottom: var(--gap-md);
}

@media all and (max-width: 47.9875em) {
  .pageTitle {
    width: 85%;
  }

  .container {
    width: 85%;
    padding: 2rem 3.2rem;
  }
}

@media all and (max-width: 35.9875em) {
  .pageTitle {
    width: 95%;
    justify-content: center;
  }

  .container {
    width: 95%;
  }
}
