.btn {
  padding: 12.5px 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn svg {
  margin-right: calc(var(--gap-sm) / 2);
}

.btnLarge {
  background-color: var(--color-blue);
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-white);

  padding: 12.5px 15px;
  font-weight: 700;
}

.btnSmall {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}

.btnText {
  background-color: transparent;
  color: var(--color-blue);
}
