.btn {
  border: 1px solid transparent;
  padding: 1.25rem 1.5rem;
  font-weight: 700;
  line-height: 1.523rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn.primary {
  background: var(--color-blue);
  border-radius: 4px;
  color: var(--color-white);
}

.btn.text {
  color: var(--color-blue);
}

.btn.icon {
  padding: 0;
}

.btn.icon svg {
  color: var(--color-dark-gray);
}

.btn.textIcon {
  background-color: transparent;
  border: 1px solid #ededed;
}

.btn.textIcon svg {
  margin-right: var(--gap-sm);
}

.btn.iconBg {
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid #ededed;
  padding: 0.9rem 1.3rem;
  font-size: 1.4rem;
}

.btn.danger {
  background-color: var(--color-red);
  color: white;
}

.btn.disabled {
  background-color: #f5f5f5;
  border: 1px solid var(--color-border-dark);
  cursor: default;
}
