.container {
  padding-bottom: var(--gap-md);
  margin: var(--gap-md) auto;
  border-bottom: 1px solid var(--color-border-light);
}

.container fieldset legend {
  cursor: default;
  margin-bottom: var(--gap-sm);
}

.options {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
}

.options input {
  display: flex;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.options label {
  display: block;
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  border: 1px solid var(--color-border-light);
}

.options input:checked + label {
  color: var(--color-blue);
  background-color: #d4e2ff;
}

@media all and (max-width: 35.9875em) {
  .options {
    flex-direction: column;
    width: max-content;
  }
}
